<div class="tw-lg-ctnr">
	<div class="tw-lg-ctnr-ctnt">
		<div class="tw-lg-cred-ctnr">
			<div class="tw-lg-cred-ctnr-ctnt">
				<div>Have an account?</div>
				<form name="LoginForm" class="login-form">
					<div class="tw-lg-username">
						<input type="text" ng-model="utility.username" placeholder="Username"/>
					</div>
					<div class="tw-lg-password">
						<input type="text" ng-model="utility.password" placeholder="Password"/>
					</div>
					<div class="tw-lg-fgpassword">
						Forgot password?
					</div>
					<div class="tw-lg-signin">
						<button>Log In</button>
					</div>
				</form>
				<div class="signup-form-ctnr">
					<form name="SignupForm" class="sign-up">
						<div class="tw-lg-newacc">New to Twitter?</div>
						<div class="tw-lg-signup">
							<button>Sign Up</button>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
	<!-- <div><img src="../images/close.png" width="15" height="15"></div> -->
</div>